<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body ng-app="songfinder" ng-controller='FetchSongsCtrl'>
        <div id="header">
            <h3 class="text-muted">Song Finder!</h3>
            
            <div class="row center-block" >
                <form>
                <div class="col-xs-9 col-md-11">
                    <input type="text" class="form-control" placeholder="Search Song Name" ng-model="query">
                </div>
                <div class="col-xs-1 col-md-1">
                    <button type="submit" ng-click="getSongs()" class="btn btn-primary">Search</button>
                </div>                
                </form>
            </div>
        </div>
        <br>
        <div id="results" ng-show="results">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="each in results.entry">
                    <td>
                      <a ng-href="http://peggo.co/dvr/{{ getVideoID(each.link[0].href) }}" target="_blank">
                        {{ each.title.$t }}
                      </a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="spinner">
          
        </div>
        <br><br><br><br><br><br><br><br>
        <div id="footer">
          <p align="center">Copyright 2015, by Ali Mehdi</p>
        </div>
        
        <script src="script/angular.min.js"></script>
        <script src="script/spin.min.js"></script>
        <script src="script/app.js"></script>
        <script src="script/youtubemp3script-v1.js"></script>
    </body>
</html>